<!--<div class="p-grid layout-dashboard">
    <app-firsthomepage></app-firsthomepage>
</div>
-->
<div class="container-fluid">
    <div class="header">
        <img style="z-index: 0" src="../../../assets/images/imgaccueil.jpg" alt="image d'accueil" id="imgaccueil">

        <div id="tit">
            <h2>E-BUGS</h2>
            <!--<p>WE ARE HERE TO HELP YOU</p>-->
        </div>
    </div>
    <div class="serv1">
        <div>
            <i class="bi bi-calculator"></i>
            <h1 style="font-size: 32px">Services de gestion des tickets</h1>
            <p style="font-size: 20px">L'application offre une gamme complète de services de gestion des tickets</p>
        </div>
    </div>
    <div class="serv2">
        <div>
            <i class="bi bi-clipboard-check"></i>
            <h1>Traitement des demandes</h1>
            <p style="font-size: 20px">ce service permet de soumettre et de consulter vos demandes</p>
        </div>
    </div>
    <div class="serv3">
        <div>
            <i class="bi bi-hourglass-split"></i>
            <h1>services de visualisation</h1>
            <p style="font-size: 20px">L'application fournit divers services visualisation, notamment xxxxxxxxxXxxxxxxxxxxx...</p>
        </div>
    </div>






    <div id="contactus" class="contactus" >
        <img style="z-index: 0" src="assets/images/imgforcontact.jpg" alt="image contact" id="imgctc">
        <div id="email">
            <div class="dot"><i class="bi bi-envelope-fill"></i></div>
            <p style="color: white; font-size: 27px">e-bugs@bugs.com</p>
        </div>
        <div id="tele" style="left: 33.33%">
            <div class="dot"><i class="bi bi-telephone-fill"></i></div>
            <p style="color: white; font-size: 27px">+212 5 00 00 00 00</p>
        </div>
        <div id="local" style="left: 66.66%">
            <div class="dot"><i class="bi bi-geo-alt-fill"></i></div>
            <p style="color: white; font-size: 27px;">00 Rue XXXXX Guéliz<br> 40000 Marrakech</p>
        </div>
        <div id="goup" routerLinkActive="active" routerLink="/">
            <i class="bi bi-arrow-up"></i>
        </div>
    </div>
    <!--
    <div class="footer">
        <app-footer></app-footer>
    </div>
    -->
</div>

