<!--
<div class="container">

    <div><span><i class="pi pi-fw pi-envelope"style="margin-right: 8px; font-weight: bolder; font-size: 25px"></i><span style="font-weight: bolder; font-size: 35px">CONTACTEZ NOUS</span></span></div>
    <h6 style="font-size: 15px"><span style="font-weight: bold">E-COMPTA</span> est à votre écoute pour toute demande d'information, question, suggestion ou réclamation, n'hésitez pas à nous contacter nos équipes n'hésiterons pas à vous apporter l'ensemble des élements de réponse dont vous avez besoin.</h6>

    <div>
        <h5 style="text-align:center">laissez nous un message</h5>
    </div>
    <div class="row">

        <div  style="padding: 0 120px">
            <form>
                <label for="name">Nom</label>
                <input type="text" id="name" name="name" placeholder="Your name..">
                <label for="lname">Société ICE</label>
                <input type="text" id="lname" name="lastname" placeholder="Your ice société">
                <label for="mail">Email</label>
                <input type="text" id="mail" name="name" placeholder="Your email..">
                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

-->
<div class="login-body">
    <div class="card login-panel p-fluid">
        <div class="login-panel-content">
            <div class="p-grid">
                <div class="p-col-12 p-sm-6 p-md-12 logo-container">
                    <div><span><i class="pi pi-fw pi-envelope"style="margin-right: 8px; font-weight: bolder; font-size: 25px"></i><span style="font-weight: bolder; font-size: 25px">CONTACTEZ NOUS</span></span></div>

                    <span class="guest-sign-in">Bienvenue, merci d'utiliser le formulaire pour contacter le réseau E-COMPTA</span>
                </div>
                <div>
                    <form>
                        <label for="name">Nom</label>
                        <input type="text" id="name" name="name" placeholder="Votre nom..">
                        <label for="mail">Email</label>
                        <input type="text" id="mail" name="name" placeholder="Votre email..">
                        <label for="subject">Message</label>
                        <textarea id="subject" name="subject" placeholder="laissez un message..." style="height:160px"></textarea>
                        <button pButton pRipple label="Envoyer" icon="pi pi-send"></button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
